*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    
}

.food-list {
    display: flex;
}

.food1 {

}

.food2 {

}

.food3 {

}

.food4 {

}

.food5 {

}
