*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.food-image {
    object-fit: cover;
    border-radius: 15px;
    width: 250px;
    height: 250px;
}

p{
    font-weight: bold;
    text-align: center;
}