*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.food-image {
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

p{
    font-weight: bold;
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}
