*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    width: 100%;
    height: 500px;
    background-color: aqua;
    /*  Các thuộc tính luôm luôn đi với flex container */
    display: flex; /* Xác định việc sử dụng flex box */
    flex-direction: row; /* Thay đổi hướng hiển thị của trục main axis */
    justify-content:center; /* Thuộc tính luôn luôn đi với trục main axis */
    align-items: center; /* Thuộc tính luôn đi với trục cross axis */
    gap: 10px; /* Giúp dãn cách các phần tử trong container */
    flex-wrap: wrap; /* Giúp các phần tử xuống hàng khi flex container không đủ diện tích */
}

.flex-item {
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 1px solid gray;
    /*  Các thuộc tính luôn luôn đi với flex item */
}

.item-1{
    order: 5;
    flex: 2;
}

.item-2{
    order: 4;
    flex: 1;

}

.item-3{
    order: 1;
    flex: 1;
}

.item-4{
    order: 3;
    flex: 1;
}
.item-5{
    order: 1;
    /* width: calc(100vw - 840px); */

    flex: 1;
}