*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

.header {
    background-color: #1E1E1E;
    height: 97px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 0;
}

.logo {
    color: #D4AF37;
    font-weight: 700;
    font-size: 32px;
    
}

.nav-link {
    display: flex;
    gap: 40px;
}

.link {
    color: #DDDDDD;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.main {
    background-color: #f9f5f0;
    padding: 60px 40px 53.83px 40px;
}

.list-card {
    display: flex;
    gap: 50px;
    
}

.card-item {
    border: 1px solid gray;
    box-shadow: 0px 8px 30px 0px #00000026;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
}

.food-name {
    color: #D4AF37;
    font-size: 27.6px;
    font-weight: 700;
    margin-bottom: 30px;
}

.food-depcrition {
    font-size: 17.7px;
    line-height: 28.8px;
    color: #555555;
    font-weight: 700;
    margin-bottom: 34.79px;
}

.food-image {
    object-fit: cover;
}

.footer {
    height: 78px;
    background-color: #1E1E1E;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


.footer-right a{
    text-decoration: none;
    font-size: 15px;
    color: #DDDDDD;
    
}
