.body{
    text-align: center;
    font-family: sans-serif;
}
.note {
    color: #1e90ff;
}
.name {
    border: 2px solid #1e90ff;
}
.email {
    border: 2px solid #1e90ff;
}
.feedback {
    border: 2px solid #1e90ff;
}
.submit {
    background-color: #00bfff;
    color: white;
}
