/* CSS External:
    1. Tại thư mục gốc của dự án, tạp 1 file có định dạng mở rộng .css
    2. Trong file HTML, tại thẻ head, sử dụng thẻ link để liên kết 2 file với nhau
*/
.box{
    background-color: red;
    color: white;
}
.heading-3{
    color: blue ;
}

.button{
    height: 40px;
    min-width: 80px;
    background-color: blue;
    color: white;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
    border-radius: 8px;
}
.button:hover {
    background-color: red;
    cursor: pointer;
}


.button:focus {
    background-color: black;
}

.button:active{
    background-color: aqua;
}
