*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 300px;
    border: 0px solid gray;
    box-shadow: #0000000D;
}
.logo{
    color: #764BA2
}
.header-right {
    display: flex;
    gap: 30px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.link{
    text-decoration: none;
    color: #1F2937;
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
}

.button {
    background-color: #0D6EFD;
    border-radius: 4px;
    color: #ffffff;
    padding: 4px 8px;
    border: 0;
}

