*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner {
    height: 150px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
.title {
    background-color: #1efbff;
    padding: 32px;
    color: black;
}
.italic {
    display: block;
    padding: 10px;
}
