*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9ecf1;
    font-family: Arial, Helvetica, sans-serif
}

.box{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    position: relative;
    margin:0  35%;
}

.progess{
    border: 1px solid #ffe2b3;
    background-color: #ffe2b3;
    color: #c7800b;
    border-radius: 20px;
    padding:4px 10px;
    font-weight: bold;
    position: absolute;
    top: 24px;
    right: 20px;
    
}

.header{
    margin-top: 30px;
    margin-left: 24px;
    margin-bottom: 24px;
}
.dadcard{
    font-size: 0;
}
.card{
    display: inline-block;
    border: 3px solid #1eff29;
    background-color: #1eff29;
    font-size: 16px;
    margin-left: 24px ;
    height: 16px;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card2{
    display: inline-block;
    border: 3px solid #eeeeee;
    background-color: #eeeeee;
    height: 16px;
    width: 195px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px   ;
    margin-left: -4px ;
}
p{
    margin-left: 24px;
    padding: 5px;
}

.text{
    opacity: 0.5;
}
span{
    opacity: 0.5;
}