*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.service-card {
    width: 300px;
    border: 2px solid #1eff29;
    border-radius: 10px;
    text-align: center;
}
.tittle {
    padding: 10px;
}
.slogan {
    padding: 10px;
}
