*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
}

fieldset{
    width: 500px;
}

h1{
    color: #0f766e;
    text-align: center;
    margin-top: 20px;
}

.title-item{
    color: #134e4a;
    font-weight: bold;
    margin: 10px;
}

input{
    height: 30px;
    width: 500px;
    border-radius: 5px;
    margin: 10px;
}

select{
    height: 30px;
    width: 500px;
    border-radius: 5px;
    margin: 10px;
}

textarea{
    height: 100px;
    width: 500px;
    border-radius: 5px;
    margin: 10px;
}

.submit{
    color: white;
    background-color: #0ea5a4;
    border: none;
}